{% if current_user.is_authenticated %}
  <p>Hello, {{ current_user.name }}!</p>
  <p>Email: {{ current_user.email }}</p>
  <p>Roles: {{ current_user.roles }}</p>
  {% if current_user.has_role("Administrator") %}
  <p>You are in admin role</p>
  {% endif %}
  <a class="button" href="/oauth/logout">Logout</a>
{% else %}
    <a class="button" href="/oauth/login">Login</a>
{% endif %}